
/***
 *
 *      ,---.            ,--.  ,--.
 *     /  O  \ ,--.,--.,-'  '-.|  ,---.  ,---. ,--.--.
 *    |  .-.  ||  ||  |'-.  .-'|  .-.  || .-. ||  .--'
 *    |  | |  |'  ''  '  |  |  |  | |  |' '-' '|  |
 *    `--' `--' `----'   `--'  `--' `--' `---' `--'
 *
 */

.author-container {

    position: sticky;
    top: 0px;
    padding-bottom: 10px;
    border-top: 10px solid $brand-color;

    .title {
        margin: 0.25em;
        font-size: 1.1em;
    }

    .m0 {
      margin: 0.75em;
      font-size: 0.8em;
      text-align: left;
      margin-bottom: 2em;
    }

    .m0 a {
      color: #333;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: #999;
    }
}

.author {
    img {
        cursor: pointer;
    }
}
