---
layout: default
title: Professional Activities
permalink: /activities/
description: Professional Activities
---

<section class="article-page">
    <article class="main-article has-image">
        <header class="article-header">
            <div class="article-image">
                <img src="/assets/images/view-tennessee.jpg"
                    srcset="/assets/images/view-tennessee.jpg 800w, /assets/images/view-tennessee.jpg 1600w"
                    width="800" height="600" loading="lazy" alt="Nearby Corryton, TN">
                <figcaption>Nearby Corryton, TN</figcaption>
            </div>
            <div class="article-details">
                <h2 class="article-title">{{ page.title }}</h2>
                <h3 class="article-subtitle">Editor, chair, program committee member, reviewer</h3>
                <br />
            </div>
        </header>
    </article>

    <!-- Editor -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">Journals Editor</h2>
                <h3 class="article-subtitle"></h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% for n in site.data.activities_editor %}
            <article>
                <a href="{{ n.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        {{ n.journal }}<br />
                        <span class="media-venue">
                            <strong style="color: #df7988">{{ n.role }}</strong> - {{ n.year }}
                            {% if n.description %}<br />{{ n.description }} {% endif %}
                        </span>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </article>

    <!-- Conferences Chair -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">Conferences Chair</h2>
                {% assign chair_total = site.data.activities_chair | size %}
                <h3 class="article-subtitle">Served as chair in {{ chair_total }} conferences</h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% assign chair = site.data.activities_chair | sort: "year" | reverse %}
            {% for n in chair %}
            <article>
                <a href="{{ n.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        {{ n.conference }}<br />
                        <span class="media-venue">
                            <strong style="color: #2a9d8f">{{ n.role }}</strong> - {{ n.year }} - {{ n.location }}
                        </span>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </article>

    <!-- PC -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">Program Committees Member</h2>
                <h3 class="article-subtitle">Served as PC member in {{ site.data.activities_pc.size }} conferences</h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% assign pc = site.data.activities_pc | sort: "year" | reverse %}
            {% for n in pc %}
            <article>
                <a href="{{ n.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        <span><strong style="color: #df7988">{{ n.series }}</strong> - {{ n.conference }}</span>
                        <span class="media-venue">{{ n.year }} - {{ n.location }}</span>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </article>

    <!-- Funding Agencies -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">Funding Agencies Reviewer</h2>
            </div>
        </header>
        <div class="article-list--compact">
            {% assign funding = site.data.activities_funding | sort: "year" | reverse %}
            {% for n in funding %}
            <article>
                <a href="{{ n.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        <span><strong style="color: #2a9d8f">{{ n.acronym }}</strong> - {{ n.agency }}</span>
                        <span class="media-venue">{{ n.year }} - {{ n.description }}</span>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </article>

    <!-- Journals Reviewer -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">Journals Reviewer</h2>
                <h3 class="article-subtitle">Reviewed for {{ site.data.activities_journal.size }} international journals</h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% for n in site.data.activities_journal %}
            <article>
                <a href="{{ n.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        <span><strong style="color: #df7988">{{ n.acronym }}</strong> - {{ n.journal }}</span>
                        <span class="media-venue">{{ n.year }}</span>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </article>

    <!-- Conferences Reviewer -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">Conferences Reviewer</h2>
                <h3 class="article-subtitle">Reviewed for {{ site.data.activities_conference.size }} international conferences</h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% for n in site.data.activities_conference %}
            <article>
                <a href="{{ n.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        <span><strong style="color: #2a9d8f">{{ n.series }}</strong> - {{ n.conference }}</span>
                        <span class="media-venue">{{ n.year }} - {{ n.location }}</span>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </article>
    
</section>
