---
layout: default
title: Students
permalink: /students/alumni/
---

<div class="article-page">
    <article class="has-image main-article">
        <header class="article-header">
            <div class="article-image">
                <img src="/assets/images/view-palos-verdes.jpg"
                    srcset="/assets/images/view-palos-verdes.jpg 800w, /assets/images/view-palos-verdes.jpg 1600w"
                    width="800" height="600" loading="lazy" alt="Sunset at Palos Verdes, CA">
                <figcaption>Sunset at Palos Verdes, CA</figcaption>
            </div>
            <div class="article-details">
                <h2 class="article-title">{{ page.title }}</h2>
                <h3 class="article-subtitle">Current and past students (Ph.D., M.S., B.S.)</h3>
                <br />
            </div>
        </header>

        <!-- PHD -->
        <section class="article-content">
            <h2>PhD Students</h2>
            <div class="row" style="margin-top: 2rem">
                {% for n in site.data.rafael.students %}
                {% for c in n.phd %}
                <div class="col-sm-12 col-md-12">
                    <div style="float: left; margin-right: 0.5em">
                        <img src="/assets/images/alumni/{{ c.photo }}" width="60px" style="border-radius: 0.5em" />
                    </div>
                    <a href="{{ c.linkedin }}" target="_blank">
                        <i class="fab {{site.data.main.social.linkedin.icon}}"></i>&nbsp;&nbsp;<strong>{{ c.name
                            }}</strong>
                    </a>
                    <p style="font-size: 1.3rem; line-height: 1.3em">
                        {{ c.period }}, {{ c.degree }}<br />
                        <span style="color: #999">{{ c.description }}</span>
                    </p>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </section>

        <!-- INTERN -->
        <section class="article-content">
            <h2>Student Worker / Intern</h2>
            <div class="row" style="margin-top: 2rem">
                {% for n in site.data.rafael.students %}
                {% for c in n.worker %}
                <div class="col-sm-6 col-md-6" style="margin-bottom: 2rem">
                    <div style="float: left; margin-right: 1rem">
                        <img src="/assets/images/alumni/{{ c.photo }}" width="40px" style="border-radius: 0.5em" />
                    </div>
                    <p style="font-size: 1.4rem; line-height: 1.3rem">
                        <a href="{{ c.linkedin }}" target="_blank">
                            <i class="fab {{site.data.main.social.linkedin.icon}}"></i>&nbsp;&nbsp;<strong>{{ c.name
                                }}</strong>
                        </a>
                    </p>
                    <p style="font-size: 1.3rem; line-height: 1.5rem">
                        {{ c.period }}, {{ c.degree }}<br />
                        <span style="color: #999">{{ c.description }}</span>
                    </p>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </section>

        <!-- DIRECTED RESEARCH -->
        <section class="article-content">
            <h2>Directed Research</h2>
            <div class="row" style="margin-top: 2rem">
                {% for n in site.data.rafael.students %}
                {% for c in n.dr %}
                <div class="col-sm-6 col-md-6" style="margin-bottom: 0.5em">
                    <p style="font-size: 1.4rem; line-height: 1.3rem">
                        <a href="{{ c.linkedin }}" target="_blank">
                            <i class="fab {{site.data.main.social.linkedin.icon}}"></i>&nbsp;&nbsp;<strong>{{ c.name
                                }}</strong>
                        </a>
                    </p>
                    <p style="font-size: 1.3rem; line-height: 1.5rem; color: #999">
                        {{ c.period }}, {{ c.degree }}
                    </p>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </section>

    </article>
</div>