---
layout: default
permalink: /categories/
title: Categories
description: All the posts are sorted based on their category.
---

<h2>{{ page.title }}</h2>
<br/>

{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
<a name="{{ category_name | slugify }}"></a>
<div class="row">
    <article class="post">
        <header>
            <div class="title">
                <h2>{{ category_name }}</h2>
            </div>
        </header>
        <div class="news">
            {% for post in site.categories[category_name] %}
            <a href="{{site.baseurl}}{{post.url}}" class="card mb-3">
                <img src="{{ post.image }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content | strip_html | truncate: 250 }}</p>
                    <p class="card-text"><small class="text-muted">{{post.date | date: '%B %d, %Y'}}</small></p>
                </div>
            </a>
            {% endfor %}
        </div>
    </article>
</div>
{% endfor %}
