---
layout: default
permalink: /categories/
title: Categories
description: All the posts are sorted based on their category.
---

<h2 class="section-title">{{page.title}}</h2>
<div class="subsection-list">
    <div class="article-list--tile">

        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <article style="height: 100px; margin-bottom: 1.5rem;">
            <a href="/categories/#{{category_name | slugify}}">
                <div class="article-details">
                    <h2 class="article-title" style="text-shadow: none;">{{category_name}}</h2>
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>

{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
<a name="{{ category_name | slugify }}"></a>
<div class="archives-group">
    <h2 class="archives-date section-title" style="margin-top: 0; margin-bottom: 2rem"><a>{{category_name}}</a></h2>
    <div class="article-list--compact">
        {% for post in site.categories[category_name] %}
        <article>
            <a href="{{site.baseurl}}{{post.url}}" style="text-decoration: none">
                <div class="article-details">
                    <h2 class="article-title">{{post.title}}</h2>
                    <p style="color: #999">{{post.content | strip_html | truncate: 200 }}</p>
                    <footer class="article-time">
                        <time datetime="2019-03-11T00:00:00Z" style="color: #df7988">{{post.date | date: '%B %d,
                            %Y'}}</time>
                    </footer>
                </div>
                <div class="article-image">
                    <img src="{{ post.image }}" width="120" height="120" loading="lazy">
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>
{% endfor %}