---
layout: page
title: Professional Activities
permalink: /for-students/
description: Professional Activities
---

<h3>Journals Editor</h3>

{% if site.data.activities_editor.size > 0 %}
<div class="activities row">
    {% for n in site.data.activities_editor %}
    <div class="col-sm-12 col-md-12" style="margin-bottom: 1em">
        <strong><a href="{{ n.link }}" target="_blank">{{ n.journal }}</a></strong><br/>
        {{ n.year }} – {{ n.role }}{% if n.description %}, {{ n.description }} {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

<hr/>

<h3>Directed Research</h3>

{% if site.data.activities_chair.size > 0 %}
<div class="activities">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <strong>Chair</strong><br/>
            {% for n in site.data.activities_chair %}
            {% for c in n.chair %}
            {{ c.year }} – <a href="{{ n.link }}" target="_blank">{{ c.conference }}</a>, {{ c.location }}<br/>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="col-sm-6 col-md-6">
            <strong>Track Chair</strong><br/>
            {% for n in site.data.activities_chair %}
            {% for c in n.track %}
            {{ c.year }} – <a href="{{ c.link }}" target="_blank">{{ c.conference }}</a>, {{ c.location }}<br/>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="col-sm-6 col-md-6">
            <strong>Organizer</strong><br/>
            {% for n in site.data.activities_chair %}
            {% for c in n.organizer %}
            {{ c.year }} – <a href="{{ c.link }}" target="_blank">{{ c.conference }}</a>, {{ c.location }}<br/>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="col-sm-6 col-md-6">
            <strong>Publicity Chair</strong><br/>
            {% for n in site.data.activities_chair %}
            {% for c in n.publicity %}
            {{ c.year }} – <a href="{{ c.link }}" target="_blank">{{ c.conference }}</a>, {{ c.location }}<br/>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="col-sm-6 col-md-6">
            <strong>Local Arrangements Chair</strong><br/>
            {% for n in site.data.activities_chair %}
            {% for c in n.local %}
            {{ c.year }} – <a href="{{ c.link }}" target="_blank">{{ c.conference }}</a>, {{ c.location }}<br/>
            {% endfor %}
            {% endfor %}
        </div>

    </div>
</div>
{% endif %}

<hr/>

<h3>Program Committees Member</h3>

<div class="activities">
    <div class="row">
        {% for n in site.data.activities_pc %}
        <div class="col-sm-12 col-md-12">
            {{ n.year }} – <a href="{{ n.link }}" target="_blank">{{ n.conference }}</a>{% if n.series %} ({{ n.series
            }}){% endif %}, {{ n.location }}
        </div>
        {% endfor %}
    </div>
</div>

<hr/>

<h3>Funding Agencies Reviewer</h3>

<div class="activities">
    <div class="row">
        {% for n in site.data.activities_funding %}
        <div class="col-sm-12 col-md-12">
            {{ n.year }} – <a href="{{ n.link }}" target="_blank">{{ n.agency }}</a>{% if n.acronym %} ({{ n.acronym
            }}){% endif %}, {{ n.description }}
        </div>
        {% endfor %}
    </div>
</div>

<hr/>

<h3>Journals Reviewer</h3>

<div class="activities">
    <div class="row">
        {% for n in site.data.activities_journal %}
        <div class="col-sm-12 col-md-12">
            {{ n.year }} – <a href="{{ n.link }}" target="_blank">{{ n.journal }}</a>{% if n.acronym %} ({{ n.acronym
            }}){% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<hr/>

<h3>Conferences Reviewer</h3>

<div class="activities">
    <div class="row">
        {% for n in site.data.activities_conference %}
        <div class="col-sm-12 col-md-12">
            {{ n.year }} – <a href="{{ n.link }}" target="_blank">{{ n.conference }}</a>{% if n.series %} ({{ n.series
            }}){% endif %}, {{ n.location }}
        </div>
        {% endfor %}
    </div>
</div>

<br/><br/>

<figure>
    <img src="/assets/images/view-palos-verdes.jpg"

         sizes="(max-width: 800px) 100vw, 800px"/>
    <figcaption>
        <span style="color: #808080; font-size: 0.8em">Sunset from Palos Verdes, CA – 20 miles South of USC/ISI.</span>
    </figcaption>
</figure>
