---
layout: default
title: Funding Awards
permalink: /funding/
---

<section class="article-page">
    <article class="main-article has-image">
        <header class="article-header">
            <div class="article-image">
                <img src="/assets/images/view-tahiti.jpg"
                    srcset="/assets/images/view-tahiti.jpg 800w, /assets/images/view-tahiti.jpg 1600w"
                    width="800" height="600" loading="lazy" alt="Flying over Tahiti, French Polynesia">
                <figcaption>Flying over Tahiti, French Polynesia</figcaption>
            </div>
            <div class="article-details">
                <h2 class="article-title">{{ page.title }}</h2>
                <h3 class="article-subtitle">Research grants and collaborations</h3>
                <br />
            </div>
        </header>
    </article>

    <!-- NSF -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">NSF</h2>
                <h3 class="article-subtitle">National Science Foundation</h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% for n in site.data.funding %}
            {% for c in n.nsf %}
            <article>
                <a href="{{ c.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        {{ c.title }}<br />
                        <span class="media-venue">
                            <strong style="color: #df7988">{{ c.period }}</strong> – ${{ c.amount }}
                            - {{ c.program }}
                        </span>
                        <span class="award-id">
                            {% for d in c.awards %}
                            #{{ d.id }}&nbsp;&nbsp;
                            {% endfor %}
                        </span>
                    </div>
                </a>
            </article>
            {% endfor %}
            {% endfor %}
        </div>
    </article>

    <!-- DARPA -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">DARPA</h2>
                <h3 class="article-subtitle">Defense Advanced Research Projects Agency</h3>
            </div>
        </header>
        <div class="article-list--compact">
            {% for n in site.data.funding %}
            {% for c in n.darpa %}
            <article>
                <a href="{{ c.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        {{ c.title }}<br />
                        <span class="media-venue">
                            <strong style="color: #df7988">{{ c.period }}</strong> – ${{ c.amount }}
                            - {{ c.program }}
                        </span>
                        <span class="award-id">
                            {% for d in c.awards %}
                            #{{ d.id }}&nbsp;&nbsp;
                            {% endfor %}
                        </span>
                    </div>
                </a>
            </article>
            {% endfor %}
            {% endfor %}
        </div>
    </article>

    <!-- Other -->
    <article class="main-article">
        <header class="article-header">
            <div class="article-details">
                <h2 class="article-title">International Funding / Collaborations / Others</h2>
            </div>
        </header>
        <div class="article-list--compact">
            {% for n in site.data.funding %}
            {% for c in n.international %}
            <article>
                <a href="{{ c.link }}" target="_blank" style="text-decoration: none">
                    <div class="article-details">
                        {{ c.title }}<br />
                        <span class="media-venue">
                            <strong style="color: #df7988">{{ c.period }}</strong> – ${{ c.amount }}
                            - {{ c.program }}
                        </span>
                        <span class="award-id">
                            {% for d in c.awards %}
                            #{{ d.id }}&nbsp;&nbsp;
                            {% endfor %}
                        </span>
                    </div>
                </a>
            </article>
            {% endfor %}
            {% endfor %}
        </div>
    </article>
</section>