---
layout: default
title: Funding Awards
permalink: /funding/
---

<h2>{{ page.title }}</h2>
<br/>

<div class="row">
    <article class="post">
        <header>
            <div class="title">
                <h2>NSF</h2>
                <p>National Science Foundation</p>
            </div>
        </header>
        <div class="activities">
            {% for n in site.data.funding %}
            {% for c in n.nsf %}
            <div class="col-sm-12 col-md-12" style="margin-bottom: 2em; line-height: 1.5em">
                <strong>{{ c.title }}</strong><br/>
                Period: <strong style="color: #666 !important">{{ c.period }}</strong> – Total Amount: ${{ c.amount
                }}<br/>
                Program: {{ c.program }}<br/>
                Awards:
                {% for d in c.awards %}
                #<a href="{{ d.link }}" target="_blank">{{ d.id }}</a>
                {% endfor %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </article>
</div>

<div class="row">
    <article class="post">
        <header>
            <div class="title">
                <h2>DARPA</h2>
                <p style="width: 100%">Defense Advanced Research Projects Agency</p>
            </div>
        </header>
        <div class="activities">
            {% for n in site.data.funding %}
            {% for c in n.darpa %}
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 2em; line-height: 1.5em">
                <strong>{{ c.title }}</strong><br/>
                Period: <strong style="color: #666 !important">{{ c.period }}</strong> – Total Amount: ${{ c.amount
                }}<br/>
                Program: {{ c.program }}<br/>
                Awards:
                {% for d in c.awards %}
                #<a href="{{ d.link }}" target="_blank">{{ d.id }}</a>
                {% endfor %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </article>
</div>

<div class="row">
    <article class="post">
        <header>
            <div class="title">
                <h2>International Funding / Collaborations / Others</h2>
            </div>
        </header>
        <div class="activities">
            {% for n in site.data.funding %}
            {% for c in n.international %}
            <div class="col-sm-12 col-md-12" style="margin-bottom: 2em; line-height: 1.5em">
                <strong>{{ c.title }}</strong><br/>
                Period: <strong style="color: #666 !important">{{ c.period }}</strong> – Total Amount: {{ c.amount
                }}<br/>
                Program: {{ c.program }}<br/>
                {% if c.awards %}
                Awards:
                {% for d in c.awards %}
                #<a href="{{ d.link }}" target="_blank">{{ d.id }}</a>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </article>
</div>

<div class="bottom">
    <figure style="text-align: center">
        <img src="/assets/images/view-marina-del-rey.jpg" sizes="(max-width: 800px) 100vw, 800px" alt=""/>
        <figcaption>
            <span style="color: #808080; font-size: 0.8em">Marina del Rey, CA at sunrise.</span>
        </figcaption>
    </figure>
</div>
