---
layout: page
title: Teaching
permalink: /teaching/
description: Teaching
---

<div class="activities" style="margin-top: 1em">
    <div class="row">
        {% for n in site.data.teaching %}
        <div class="col-sm-12 col-md-12" style="margin-bottom: 1em">
            <strong><i class="fas fa-graduation-cap"></i> {{ n.semester }} –
                {% if n.url %}<a href="{{n.url}}" target="_blank">{{ n.class }}</a> {% else %} {{ n.class }} {% endif %}
            </strong>
            <p style="font-size: 0.9em; line-height: 1.3em; color: #777">
                {{ n.description }}
                {% if n.material %}
                <br />
                <span style="padding-left: 2em; line-height: 2em;">
                    <i class="far fa-plus-square"></i>
                    <a href="/teaching/{{ n.material }}">Additional Material:</a>
                    {{ n.material_desc }}
                </span>
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<br/><br/>

<figure>
    <img src="/assets/images/view-palos-verdes.jpg"

         sizes="(max-width: 800px) 100vw, 800px"/>
    <figcaption>
        <span style="color: #808080; font-size: 0.8em">Sunset from Palos Verdes, CA – 20 miles South of USC/ISI.</span>
    </figcaption>
</figure>
