---
layout: default
title: Teaching
permalink: /teaching/
---

<section class="article-page">
    <article class="main-article has-image">
        <header class="article-header">
            <div class="article-image">
                <img src="/assets/images/view-marina-del-rey.jpg"
                    srcset="/assets/images/view-marina-del-rey.jpg 800w, /assets/images/view-marina-del-rey.jpg 1600w"
                    width="800" height="600" loading="lazy" alt="View from Mount Wilson, Los Angeles, CA">
                <figcaption>Marina del Rey, CA at sunrise</figcaption>
            </div>
            <div class="article-details">
                <h2 class="article-title">{{ page.title }}</h2>
                <h3 class="article-subtitle">Teaching activities at USC</h3>
                <br />
            </div>
        </header>

        {% assign teaching = site.teaching | sort: "year" | reverse %}
        {% for n in teaching %}
        <section class="article-content">
            <h2>{{ n.semester }}</h2>
            {% if n.link %}<a href="{{n.link}}" target="_blank">{{ n.class }}</a> {% else %} {{ n.class }} {% endif %}
            <p style="font-size: 1.3rem; line-height: 1.3em; color: #999; margin: 0">
                {{ n.description }}
            </p>
            <span style="padding-left: 2em; line-height: 2em; font-size: 1.3rem; margin: 0">
                <i class="far fa-plus-square"></i>&nbsp;&nbsp;
                <a href="/teaching/{{ n.material }}">Additional Material:</a>
                {{ n.material_desc }}
            </span>
        </section>
        {% endfor %}

    </article>
</section>