---
layout: default
type: home
title: Research Interests
---

<div>
    <div class="interests row">
        <div class="col-sm-6 col-md-4">
            <strong>Modeling and Simulation</strong> of parallel and distributed computing systems
        </div>
        <div class="col-sm-6 col-md-4">
            <strong>Scientific Workflows</strong> scheduling, optimization, fault-tolerance, and energy-efficiency
        </div>
        <div class="col-sm-6 col-md-4">
            <strong>Distributed Computing</strong> on clouds, grids, and HPC clusters
        </div>
    </div>
</div>

<hr class="dashed">

<div class="alert alert-warning small" role="alert">
    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <strong>Spring 2020</strong>: I am looking for good USC students that want to conduct <u>Directed Research</u> projects in
    the area of distributed systems, with emphasis in scientific workflows and computational simulation.
</div>

<hr class="dashed">

<p>
    I'm working as a web developer in Zetronet. In my free time I design WordPress
    themes. Some of my themes are featured in Awwwards.
</p>

<p>
    Nibh ipsum consequat nisl vel pretium lectus. Et netus et malesuada fames ac
    turpis egestas. Feugiat vivamus at augue eget arcu dictum. Lectus nulla at
    volutpat diam ut venenatis tellus in. Massa tincidunt dui ut ornare lectus
    sit. Mattis nunc sed blandit libero volutpat sed. Mi eget mauris pharetra et
    ultrices neque ornare. Pulvinar sapien et ligula ullamcorper.
</p>

{% include expertise.html %}

<p>
    Volutpat blandit aliquam etiam erat velit scelerisque. Non pulvinar neque
    laoreet suspendisse. Sapien pellentesque habitant morbi tristique senectus et.
    Proin nibh nisl condimentum id. At consectetur lorem donec massa sapien
    faucibus et molestie ac. Gravida arcu ac tortor dignissim convallis aenean et.
</p>

{% include projects.html %}

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit
    amet. At quis risus sed vulputate odio ut. Quis eleifend quam adipiscing vitae
    proin sagittis nisl rhoncus mattis. Urna duis convallis convallis tellus id
    interdum. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
    Volutpat est velit egestas dui id ornare. Amet massa vitae tortor condimentum.
</p>

{% include blogs.html %}

<p>
    Nibh ipsum consequat nisl vel pretium lectus. Et netus et malesuada fames ac
    turpis egestas. Feugiat vivamus at augue eget arcu dictum. Lectus nulla at
    volutpat diam ut venenatis tellus in. Massa tincidunt dui ut ornare lectus
    sit. Mattis nunc sed blandit libero volutpat sed. Mi eget mauris pharetra et
    ultrices neque ornare. Pulvinar sapien et ligula ullamcorper.
</p>
<p class="">
    <a
            href="/blog/blackcurrant/"
            class="btn btn-primary btn-lg"
            data-aos="zoom-in"
    >About {{site.title}}</a
    >
</p>
