---
layout: default
---

<section data-id="about-me" class="animated-section">
    <div class="section-content">

        <div class="row flex-v-align">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="home-text hp-left">

                    <div class="owl-carousel text-rotation">
                        <div class="item">
                            <h4>Group Leader</h4>
                        </div>
                        <div class="item">
                            <h4>Senior Research Scientist</h4>
                        </div>
                    </div>

                    <h1>RAFAEL<br /><span
                            style="font-size: 0.8em; font-weight: normal; text-transform: uppercase;">Ferreira da
                            Silva</span></h1>
                    <p>
                        I am the Group Leader for the <a
                            href="https://www.ornl.gov/group/workflows-and-ecosystem-services" target="_blank">Workflow
                            and Ecosystem Services</a> (WES) group and a Senior Research Scientist in the <a
                            href="https://www.ornl.gov/division/nccs" target="_blank">National Center for Computational
                            Sciences</a> (NCCS) at <a href="https://www.ornl.gov/" target="_blank">Oak Ridge National
                            Laboratory</a> (ORNL). Additionally, I hold an Adjunct Research Assistant Professor position
                        at the
                        <a href="https://www.usc.edu" target="_blank">University of Southern California</a> (USC) in
                        the <a href="https://www.cs.usc.edu" target="_blank">Department of Computer Science</a>. I also
                        serve as the Special Content Editor for the <a
                            href="https://www.sciencedirect.com/journal/future-generation-computer-systems"
                            target="_blank">Future Generation Computer Systems</a> (FGCS) journal, and I am a Senior 
                            Member of IEEE and ACM professional associations.
                    </p>
                    <p>
                        In my work, I am deeply engaged in the field of parallel and distributed computing systems, with
                        a primary focus on modeling and simulation to enhance and innovate in scientific workflows. My
                        areas of expertise include scheduling, optimization, fault tolerance, and energy efficiency
                        within distributed computing, applying these skills across diverse platforms like clouds, grids,
                        and HPC clusters. This dedication is driven by a commitment to improve the efficiency and
                        resilience of digital infrastructures to meet the ever-changing needs of the scientific
                        community.
                    </p>
                    <p>
                        Additionally, as the Founder and Executive Director of the <a href="http://workflows.community"
                            target="_blank">Workflows Community Initiative</a>, I am committed to fostering
                        collaboration and advancement in the field of workflows research and development. This
                        initiative plays a crucial role in uniting researchers and professionals to share knowledge and
                        drive innovations in workflow management and applications.
                    </p>

                    <!-- <div class="home-buttons">
                        <a href="https://themeforest.net/item/leven-vcard-wordpress-theme/25289671" target="_blank"
                            class="btn btn-primary">Download CV</a>
                        <a href="https://lmpixels.com/wp/leven-wp/contact/" target="_self"
                            class="btn btn-secondary">Contact</a>
                    </div> -->
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="home-photo">
                    <div class="hp-inner" style="background-image: url(assets/images/rafael-frontier.jpg);">
                    </div>
                </div>
            </div>
        </div>
        <div class="white-space-70"></div>

        {% assign cc_count = 0 %}
        {% assign pc_count = 0 %}
        {% assign rg_count = 0 %}
        {% for n in site.data.activities_chair %}
        {% for e in n.entries %}
        {% assign cc_count = cc_count | plus: 1 %}
        {% endfor %}
        {% endfor %}
        {% for pc in site.data.activities_pc %}
        {% for e in pc.entries %}
        {% assign pc_count = pc_count | plus: 1 %}
        {% endfor %}
        {% endfor %}
        {% for rg in site.data.funding.doe %}
        {% assign rg_count = rg_count | plus: 1 %}
        {% endfor %}
        {% for rg in site.data.funding.nsf %}
        {% assign rg_count = rg_count | plus: 1 %}
        {% endfor %}
        {% for rg in site.data.funding.darpa %}
        {% assign rg_count = rg_count | plus: 1 %}
        {% endfor %}
        {% for rg in site.data.funding.international %}
        {% assign rg_count = rg_count | plus: 1 %}
        {% endfor %}

        <!-- Facts -->
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-layers"></i>
                    <h4>Chair roles in conferences</h4>
                    <span class="fun-fact-block-value">{{ cc_count }}</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-pencil"></i>
                    <h4>PC member in conferences</h4>
                    <span class="fun-fact-block-value">{{ pc_count }}</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-star"></i>
                    <h4>Research grants</h4>
                    <span class="fun-fact-block-value">{{ rg_count }}</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>
        </div>

        <div class="white-space-70"></div>

        <!-- Projects -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                    <h3>Research Projects</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="clients owl-carousel">
                    {% for item in site.data.research_projects %}
                    <div class="client-block">
                        <a href="{{ item.url }}" target="_blank" title="Logo">
                            <img src="/assets/images/{{ item.icon }}" alt="Logo">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="white-space-70"></div>

        <div>
            <a href="https://ornl.gov" target="_blank" style="border: 0">
                <img src="/assets/images/ornl.png" alt="ORNL" style="width: 12em; margin-bottom: 0.5em;" />
            </a>
            Rafael Ferreira da Silva, Ph.D.<br />
            Oak Ridge National Laboratory<br />
            <i class="fas fa-map-marker-alt"></i> P.O. Box 2008, Oak Ridge, TN, USA 37831<br />
            <i class="fas fa-phone"></i> Office: 865-341-1894<br />
            <i class="fas fa-envelope"></i> <span style="text-transform: lowercase">silvarf@ornl.gov</span>
        </div>

    </div>
</section>
