{% assign cc_count = 0 %}
{% assign pc_count = 0 %}
{% assign rg_count = 0 %}
{% for n in site.data.activities_chair %}
{% for e in n.entries %}
{% assign cc_count = cc_count | plus: 1 %}
{% endfor %}
{% endfor %}
{% for pc in site.data.activities_pc %}
{% for e in pc.entries %}
{% assign pc_count = pc_count | plus: 1 %}
{% endfor %}
{% endfor %}
{% for rg in site.data.funding.doe %}
{% assign rg_count = rg_count | plus: 1 %}
{% endfor %}
{% for rg in site.data.funding.nsf %}
{% assign rg_count = rg_count | plus: 1 %}
{% endfor %}
{% for rg in site.data.funding.darpa %}
{% assign rg_count = rg_count | plus: 1 %}
{% endfor %}
{% for rg in site.data.funding.international %}
{% assign rg_count = rg_count | plus: 1 %}
{% endfor %}

<section class="pt-page pt-page-1" data-id="about-me">

    <div class="border-block-top-110"></div>

    <div class="section-inner">

        <div class="section-title-block">
            <div class="section-title-wrapper clearfix">
                <h2 class="section-title">Rafael Ferreira da Silva</h2>
                <h5 class="section-description"><strong>Group Leader </strong>and <strong>Senior Research
                        Scientist</strong></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                <div class="my-photo-block tilt-effect">
                    <img src="assets/images/rafael-frontier.jpg" alt="">
                </div>
                <ul class="social-links">
                    <li><a class="tip social-button" href="{{site.data.main.social.linkedin.link}}" title="LinkedIn"
                            target="_blank"><i class="fa {{site.data.main.social.linkedin.icon}}"></i></a></li>
                    <li><a class="tip social-button" href="{{site.data.main.social.googlescholar.link}}"
                            title="GoogleScholar" target="_blank"><i
                                class="ai {{site.data.main.social.googlescholar.icon}}"></i></a></li>
                    <li><a class="tip social-button" href="{{site.data.main.social.dblp.link}}" title="ResearchGate"
                            target="_blank"><i class="ai {{site.data.main.social.dblp.icon}}"></i></a></li>
                    <li><a class="tip social-button" href="{{site.data.main.social.orcid.link}}" title="ResearchGate"
                            target="_blank"><i class="ai {{site.data.main.social.orcid.icon}}"></i></a></li>
                    <li><a class="tip social-button" href="{{site.data.main.social.researchgate.link}}"
                            title="ResearchGate" target="_blank"><i
                                class="ai {{site.data.main.social.researchgate.icon}}"></i></a></li>
                    <li><a class="tip social-button" href="{{site.data.main.social.github.link}}" title="ResearchGate"
                            target="_blank"><i class="fa {{site.data.main.social.github.icon}}"></i></a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-8">
                <p>
                    I am the Group Leader for the <a
                        href="https://www.olcf.ornl.gov/about-olcf/staff-sections/advanced-technologies/workflows-ecosystem-services/"
                        target="_blank">Workflow
                        and Ecosystem Services</a> (WES) group and a Senior Research Scientist in the <a
                        href="https://www.ornl.gov/division/nccs" target="_blank">National Center for Computational
                        Sciences</a> (NCCS) at <a href="https://www.ornl.gov/" target="_blank">Oak Ridge National
                        Laboratory</a> (ORNL). Additionally, I serve as the Special Content Editor for the <a
                        href="https://www.sciencedirect.com/journal/future-generation-computer-systems"
                        target="_blank">Future Generation Computer Systems</a> (FGCS) journal. I am also a Senior
                    Member of IEEE and ACM professional associations.
                </p>
                <p>
                    I am a computer scientist at the intersection of advanced distributed systems and scientific
                    innovation, specializing in parallel and distributed computing with expertise spanning scientific
                    workflows, hybrid quantum classical systems, and autonomous science. My technical proficiency
                    encompasses sophisticated scheduling algorithms, high fidelity modeling and simulation, multi
                    objective optimization, fault tolerant system design, and energy efficient computing skills I deploy
                    across cloud, edge, and HPC environments. Through my work optimizing complex computational
                    ecosystems, I create resilient digital infrastructures that not only withstand computational
                    uncertainty but adapt dynamically to changing research demands, ultimately accelerating scientific
                    discovery by building the robust computational foundations necessary for next generation
                    breakthroughs across disciplines.
                </p>
                <p>
                    Additionally, as the Founder and Executive Director of the <a href="http://workflows.community"
                        target="_blank">Workflows Community Initiative</a>, I am committed to fostering
                    collaboration and advancement in the field of workflows research and development. This
                    initiative plays a crucial role in uniting researchers and professionals to share knowledge and
                    drive innovations in workflow management and applications.
                </p>
                <div class="download-cv-block">
                    <a class="button" target="_blank" href="files/cv/RafaelFerreiraDaSilva-cv-2025-01.pdf">Download
                        CV</a>
                </div>
                <p>&nbsp;</p>
            </div>

        </div>

        <div class="block-title">
            <h3>Professional Facts</h3>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 subpage-block">
                <div class="fun-fact-block gray-bg tilt-effect">
                    <i class="pe-7s-icon pe-7s-pen"></i>
                    <h4>Scientific Publications</h4>
                    <span class="fun-value">{% bibliography_count -f references %}</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="fun-fact-block">
                    <i class="pe-7s-icon pe-7s-portfolio"></i>
                    <h4>Chair roles in conferences</h4>
                    <span class="fun-value">{{ cc_count }}</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                <div class="fun-fact-block gray-bg tilt-effect">
                    <i class="pe-7s-icon pe-7s-comment"></i>
                    <h4>PC member in conferences</h4>
                    <span class="fun-value">{{ pc_count }}</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
                <div class="fun-fact-block">
                    <i class="pe-7s-icon pe-7s-graph1"></i>
                    <h4>Research grants</h4>
                    <span class="fun-value">{{ rg_count }}</span>
                </div>
            </div>
        </div>

        <div class="block-title">
            <h3>Research Projects</h3>
        </div>
        <div class="row">
            {% for item in site.data.research_projects %}
            <div class="col-sm-6 col-md-3 subpage-block">
                <a href="{{ item.url }}" class="service-block" target="_blank">
                    <div class="service-info">
                        <img src="/assets/images/{{ item.icon }}" alt="Logo">
                        <h2>{{ item.count }}</h2>
                        <p style="color: #666">{{ item.description }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="block-title">
            <h3>Get in Touch</h3>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 subpage-block">
                <div class="contact-info-block">
                    <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-map-marker"></i>
                    </div>
                    <div class="ci-text">
                        <h5>
                            <a href="https://ornl.gov" target="_blank" style="border: 0">
                                <img src="/assets/images/ornl.png" alt="ORNL"
                                    style="width: 10em; margin-bottom: 0.5em;" />
                            </a><br />
                            Rafael Ferreira da Silva, Ph.D.<br />
                            Oak Ridge National Laboratory<br />
                            P.O. Box 2008, Oak Ridge, TN, USA 37831
                        </h5>
                    </div>
                </div>
                <div class="contact-info-block">
                    <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-mail"></i>
                    </div>
                    <div class="ci-text">
                        <h5>silvarf@ornl.gov</h5>
                    </div>
                </div>
                <div class="contact-info-block">
                    <div class="ci-icon">
                        <i class="pe-7s-icon pe-7s-call"></i>
                    </div>
                    <div class="ci-text">
                        <h5>+1 865-341-1894 (Office)</h5>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>
</section>