<section class="pt-page pt-page-4" data-id="activities">

    <div class="border-block-top-110"></div>

    <div class="section-inner">

        <div class="section-title-block">
            <div class="section-title-wrapper">
                <h2 class="section-title">Professional Activities</h2>
                <h5 class="section-description">Scientific Community Leadership & Service</h5>
            </div>
        </div>

        <div class="row">

            <!-- EDITOR -->
            <div class="col-sm-12 subpage-block">
                <div class="block-title">
                    <h3>Journals Editor</h3>
                </div>
                <div class="timeline">
                    {% for n in site.data.activities_editor %}
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">{{ n.acronym }}</span>
                            <strong class="event-name">{{ n.role }}</strong> &mdash;
                            <a href="{{ n.link }}" target="_blank" style="text-decoration: none">{{ n.journal }}</a>
                        </p>
                        <p>
                            {% for e in n.entries %}
                            <strong>{{ e.year }}</strong> &mdash; {{ e.role }}<br />
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- CHAIR -->
            <div class="col-sm-12 subpage-block">
                <div class="block-title">
                    <h3>Chair Roles in Conferences
                        <br /><span style="color: #999; font-weight: normal; font-size: 0.7em;">Served in chair roles in
                            {{ cc_count }} conferences</span>
                    </h3>
                </div>
                <div class="timeline">
                    {% assign chair = site.data.activities_chair %}
                    {% for n in chair %}
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">{{ n.series }}</span>
                            <strong class="event-name">{{ n.conference }}</strong>
                        </p>
                        <p>
                            {% for e in n.entries %}
                            <strong>{{ e.year }}</strong> &mdash; {{ e.role }} &mdash; <a href="{{ e.link }}"
                                target="_blank">{{ e.edition }} {{ n.series }}</a>, {{ e.location }}<br />
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- PC -->
            <div class="col-sm-12 subpage-block">
                <div class="block-title">
                    <h3>Program Committees Member
                        <br /><span style="color: #999; font-weight: normal; font-size: 0.7em;">Served as PC member in
                            {{ pc_count }} conferences</span>
                    </h3>
                </div>
                <div class="timeline">
                    {% assign pc = site.data.activities_pc %}
                    {% for n in pc %}
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">{{ n.series }}</span>
                            <strong class="event-name">{{ n.conference }}</strong>
                        </p>
                        <p>
                            {% for e in n.entries %}
                            <strong>{{ e.year }}</strong> &mdash; <a href="{{ e.link }}" target="_blank">{{ e.edition }}
                                {{ n.series }}</a>, {{ e.location }}<br />
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Funding Agencies Reviewer -->
            <div class="col-sm-12 subpage-block">
                <div class="block-title">
                    <h3>Funding Agencies Reviewer</h3>
                </div>
                <div class="timeline">
                    {% assign funding = site.data.activities_funding %}
                    {% for n in funding %}
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">{{ n.acronym }}</span>
                            <strong class="event-name">{{ n.agency }}</strong>
                        </p>
                        <p>
                            {% for e in n.entries %}
                            <strong>{{ e.year }}</strong> &mdash; {{ e.description }}<br />
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Steering Committee -->
            <div class="col-sm-12 subpage-block">
                <div class="block-title">
                    <h3>Steering Committees</h3>
                </div>
                <div class="timeline">
                    {% for n in site.data.activities_sc %}
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">{{ n.year }}</span>
                            <strong class="event-name">{{ n.role }}</strong> &mdash;
                            <a href="{{ n.link }}" target="_blank" style="text-decoration: none">{{ n.conference }}</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Professional Associations -->
            <div class="col-sm-12 subpage-block">
                <div class="block-title">
                    <h3>Professional Associations</h3>
                </div>
                <div class="timeline">
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">IEEE</span>
                            <strong class="event-name">Institute of Electrical and Electronics Engineers</strong>
                        </p>
                        <p>
                            <strong>2022&mdash;present</strong> &mdash; Senior Member<br />
                            <strong>2017&mdash;2022</strong> &mdash; Member<br />
                        </p>
                    </div>
                    <div class="timeline-event te-primary">
                        <p>
                            <span class="event-date">ACM</span>
                            <strong class="event-name">Association for Computing Machinery</strong>
                        </p>
                        <p>
                            <strong>2023&mdash;present</strong> &mdash; Senior Member<br />
                            <strong>2018&mdash;2023</strong> &mdash; Member<br />
                        </p>
                    </div>
                </div>
            </div>

        </div>
        
        {% include footer.html %}
    </div>
</section>