<div class="news">
    {% for item in site.posts limit: 4 %}
    <a href="{{ item.url }}" class="news-item">
        <h5 class="news-title" style="line-height: 1.2em">{{ item.title }}</h5>
        <img src="{{ item.image }}" class="news-img" alt=""/>
        <span class="news-text">{{ item.excerpt | strip_html | truncatewords: 30 }}</span>
        <span class="news-date">{{ item.date | date: "%a, %b %d, %Y" }}</span>
    </a>
    {% endfor %}
    <ul class="actions">
        <li><a href="/blog" class="button large">See all News</a></li>
    </ul>
</div>
