<div class="projects">
    {% for item in site.posts limit: 6 %}
    <a href="{{ item.url }}" class="card mb-3">
        <img src="{{ item.image }}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" style="line-height: 1.2em">{{ item.title }}</h5>
            <p class="card-text">{{ item.excerpt | strip_html | truncatewords: 20 }}</p>
            <p class="card-text">
                <small class="text-muted" style="color: #999 !important">{{ item.date | date: "%a, %b %d, %Y" }}</small>
            </p>
        </div>
    </a>
    {% endfor %}
</div>
