<section id="footer">
    <p class="copyright">
        <a href="http://isi.edu" target="_blank" style="border: 0">
            <img src="/assets/images/usc-isi-logo.png" style="width: 20em"/>
        </a>
        <br/>
        Rafael Ferreira da Silva, Ph.D.<br/>
        USC Information Sciences Institute<br/>
        <i class="fas fa-map-marker-alt"></i> 4676 Admiralty Way Suite 1001<br/>
        &nbsp;&nbsp; Marina del Rey, CA, USA 90292<br/>
        <i class="fas fa-phone"></i> Office: 310-448-8352<br/>
        <i class="fas fa-envelope"></i> <span style="text-transform: lowercase">rafsilva@isi.edu</span><br/>
        <i class="fas fa-envelope"></i> <span style="text-transform: lowercase">rafaelfe@usc.edu</span>
        <br/><br/><br/>
        &copy;{{ site.time | date: '%Y' }} Rafael Ferreira da Silva, Ph.D.<br/>Research Assistant Professor.
    </p>
</section>
