<section class="pt-page pt-page-4" data-id="funding">

    <div class="border-block-top-110"></div>

    <div class="section-inner">

        <div class="section-title-block">
            <div class="section-title-wrapper">
                <h2 class="section-title">Funding Awards</h2>
                <h5 class="section-description">Research grants and collaborations</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 subpage-block">
                <!-- DOE -->
                <div class="block-title">
                    <h3>U.S. Department of Energy (DOE)</h3>
                </div>
                <div class="timeline">
                    {% for n in site.data.funding.doe %}
                    <div class="timeline-event te-primary">
                        <h5 class="event-date">{{ n.period }}</h5>
                        <h4 class="event-name">{{ n.title }}</h4>
                        <span class="event-description">{{ n.amount }} &mdash; {{ n.program}}</span>
                    </div>
                    {% endfor %}
                </div>
                <p>&nbsp;</p>

                <!-- NSF -->
                <div class="block-title">
                    <h3>U.S. National Science Foundation (NSF)</h3>
                </div>
                <div class="timeline">
                    {% for n in site.data.funding.nsf %}
                    <div class="timeline-event te-primary">
                        <h5 class="event-date">{{ n.period }}</h5>
                        <h4 class="event-name">{{ n.title }}</h4>
                        <span class="event-description">{{ n.amount }} &mdash; {{ n.program}}<br />
                            {% for d in n.awards %}
                            #{{ d.id }}&nbsp;&nbsp;
                            {% endfor %}</span>
                    </div>
                    {% endfor %}
                </div>
                <p>&nbsp;</p>

                <!-- DARPA -->
                <div class="block-title">
                    <h3>U.S. Defense Advanced Research Projects Agency (DARPA)</h3>
                </div>
                <div class="timeline">
                    {% for n in site.data.funding.darpa %}
                    <div class="timeline-event te-primary">
                        <h5 class="event-date">{{ n.period }}</h5>
                        <h4 class="event-name">{{ n.title }}</h4>
                        <span class="event-description">{{ n.amount }} &mdash; {{ n.program}}<br />
                            {% for d in n.awards %}
                            #{{ d.id }}&nbsp;&nbsp;
                            {% endfor %}</span>
                    </div>
                    {% endfor %}
                </div>
                <p>&nbsp;</p>

                <!-- OTHER -->
                <div class="block-title">
                    <h3>International Funding / Collaborations / Others</h3>
                </div>
                <div class="timeline">
                    {% for n in site.data.funding.international %}
                    <div class="timeline-event te-primary">
                        <h5 class="event-date">{{ n.period }}</h5>
                        <h4 class="event-name">{{ n.title }}</h4>
                        <span class="event-description">{{ n.amount }} &mdash; {{ n.program}}<br />
                            {% for d in n.awards %}
                            #{{ d.id }}&nbsp;&nbsp;
                            {% endfor %}</span>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        {% include footer.html %}
    </div>
</section>