<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Prefetch DNS for faster page speed -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//google-analytics.com" />
  <link rel="dns-prefetch" href="//www.google-analytics.com" />
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
  <link rel="dns-prefetch" href="//ajax.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />
  {% if page.url contains 'blog' %}
  <!-- Prefetch disqus DNS for faster page speed -->
  <link rel="dns-prefetch" href="https://{{site.disqus}}.disqus.com/" />
  {% endif %} {% if page.url == '/' %}
  <!-- Prerender next pages for faster page speed -->
  <link rel="prerender" href="{{site.baseurl}}/contact/" />
  <link rel="prerender" href="{{site.baseurl}}/blog/" />
  {% endif %}

  <!-- SEO meta tags -->
  {% seo %} {% if page.layout != 'post' %}
  <meta property="og:image" content="{{site.url}}{{site.default-image}}" />
  {% endif %}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/academicons/css/academicons.min.css" />

  <!-- Icons -->
  <!--
Replace these icons with your own.
 -->

  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/img/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/img/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/img/apple-icon-152x152.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/assets/img/android-icon-192x192.png" />
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />

  {% if site.analytics %}
  <!--
Google Analytics code. <head> tag is the right place for analytics code as directed by Google. This is unofficial light version which loads blazing fast! Implemented for faster page load.
 -->
  {% include analytics-lite.html %} {% endif %} {% if site.enable-mathjax %}
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
  {% endif %} {% if site.enable-chartjs %}
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  {% endif %}
</head>