<title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.title }}</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="{{ site.description }}" />

<link rel="stylesheet" href="assets/css/reset.css" type="text/css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/bootstrap-grid.min.css" type="text/css">
<link rel="stylesheet" href="assets/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="assets/css/main.css" type="text/css">
<link rel="stylesheet" href="assets/css/animations.css" type="text/css">
<link rel="stylesheet" href="/assets/css/academicons/css/academicons.min.css" />

<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}" />
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}" />
{% seo %}

<link rel="canonical" href="{{ site.url }}" />

<!-- icons -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/x-icon" />
