<section class="page-section" data-id="media">

    <div class="section-inner">

        <div class="section-title-block">
            <div class="section-title-wrapper">
                <h2 class="section-title">Media</h2>
                <h5 class="section-description">Featured in the News</h5>
            </div>
        </div>

        <div class="media-list">
            {% for n in site.data.media %}
            <a class="media-card" href="{{ n.link }}" target="_blank">
                <div class="media-thumb">
                    <img src="{{ n.image }}" alt="{{ n.title }}">
                </div>
                <div class="media-body">
                    <div class="media-meta">
                        <span class="media-venue">{{ n.venue }}</span>
                        <span class="media-date">{{ n.date }}</span>
                    </div>
                    <h4 class="media-title">{{ n.title }}</h4>
                    <span class="media-cta">Read the feature</span>
                </div>
            </a>
            {% endfor %}
        </div>

        <p>&nbsp;</p>
        {% include footer.html %}
    </div>
</section>
