<section class="pt-page pt-page-4" data-id="media">

    <div class="border-block-top-110"></div>

    <div class="section-inner">

        <div class="section-title-block">
            <div class="section-title-wrapper">
                <h2 class="section-title">Media</h2>
                <h5 class="section-description">Featured in the News</h5>
            </div>
        </div>

        <!-- Media Content -->
        <div class="portfolio-content">

            <!-- Media Grid -->
            <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                {% for n in site.data.media %}
                <figure class="item" data-groups='["all", "media"]'>
                    <a href="{{ n.link }}" target="_blank">
                        <img src="{{ n.image}}" alt="{{ n.title }}"
                            style="max-height: 15em; min-height: 15em; object-fit: cover;">
                        <div>
                            <h5 class="name">{{ n.title }}<br /><span
                                    style="color: #999; font-size: 0.8em; font-weight: normal;">{{ n.date }}</span></h5>
                            <small>{{ n.venue }}</small>
                            <i class="pe-7s-icon pe-7s-display2"></i>
                        </div>
                    </a>
                </figure>
                {% endfor %}

            </div>
        </div>

        <p>&nbsp;</p>
        {% include footer.html %}
    </div>
</section>