<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <!--    <section>-->
    <!--        <form class="search" method="get" action="#">-->
    <!--            <input type="text" name="query" placeholder="Search"/>-->
    <!--        </form>-->
    <!--    </section>-->

    <!-- Links -->
    <section>
        <ul class="links">
            <li><a href="/publications">
                <h3>Publications</h3>
                <p>List of Scientific Publications</p>
            </a></li>
            <li><a href="/activities">
                <h3>Activities</h3>
                <p>Professional Activities (Editor, PC Member, Reviewer)</p>
            </a></li>
            <li><a href="/students/alumni">
                <h3>Students</h3>
                <p>Current and Past Students (Ph.D., M.S., B.S.)</p>
            </a></li>
            <li><a href="/teaching">
                <h3>Teaching</h3>
                <p>Course Materials (Slides, Examples)</p>
            </a></li>
            <li><a href="/funding">
                <h3>Awards</h3>
                <p>Research Funding Awards (NSF, DARPA)</p>
            </a></li>
            <li><a href="/activities/media">
                <h3>Media</h3>
                <p>Press Coverage</p>
            </a></li>
        </ul>
    </section>

    <!-- Actions -->
    <!--    <section>-->
    <!--        <ul class="actions stacked">-->
    <!--            <li><a href="#" class="button large fit">Log In</a></li>-->
    <!--        </ul>-->
    <!--    </section>-->

</section>
