{% if paginator.total_pages > 1 %}
{% if paginator.previous_page %}
<a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
    tabindex="-1">Previous</a>
{% else %}
<a class="page-link">Previous</a>
{% endif %}

{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}
<span class="page-link current">{{ page }}</span>
{% elsif page == 1 %}
<a class="page-link" href="{{site.baseurl}}/blog/">{{ page }}</a>
{% else %}
<a class="page-link"
    href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
    page }}</a>
{% endif %}
{% endfor %}

{% if paginator.next_page %}
<a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
{% else %}
<span class="page-link">Next</span>
{% endif %}
{% endif %}