<section data-id="publications" class="animated-section">
    <div class="section-content">

        <div class="page-title">
            <h2>Research Publications</h2>
            <h4>List of peer-reviewed scientific publications</h4>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <article class="publication">
                    {% bibliography %}
                </article>
            </div>

            <div class="white-space-50"></div>
        </div>
    </div>
</section>
