<section class="pt-page pt-page-5" data-id="publications">

    <div class="border-block-top-110"></div>

    <div class="section-inner">
        <div class="section-title-block">
            <div class="section-title-wrapper">
                <h2 class="section-title">Publications</h2>
                <h5 class="section-description"><strong>{% bibliography_count -f references %}</strong> Scientific publications and counting...</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 subpage-block">
                <article class="publication">
                    {% bibliography %}
                </article>
            </div>
        </div>
        
        {% include footer.html %}
    </div>
</section>