<div class="recent" data-aos="fade-up">
    <div class="">
        <h3>Recent Articles</h3>
    </div>
    <div class="recent-grid">
        {% for post in site.related_posts limit: 4 %}
        <div class="items" data-aos="fade-up">
            <a class="nostyle item" href="{{site.baseurl}}{{post.url}}">
                <div class="cards">
                    <div class="image" style="background-image: url({{site.baseurl}}{{post.image}})"></div>
                    <p class="title"><small>{{post.title}}</small></p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
