<aside class="sidebar right-sidebar sticky">

    <div class="twitter">
        <div class="twitter-header">
            <i class="fab {{site.data.main.social.twitter.icon}}"></i> @RafaelSilva_com
        </div>
        <a class="twitter-timeline" href="https://twitter.com/RafaelSilva_com?ref_src=twsrc%5Etfw" data-dnt="true"
            data-theme="dark" data-chrome=" nofooter noheader" data-height="2000" it="twitter-timeline"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br />
    </div>

</aside>