<header id="site_header" class="header mobile-menu-hide header-color-light">

    <div class="my-photo tilt-effect">
        <img src="/assets/images/2022-rafael-ferreira-da-silva-high-resolution.jpg" alt="Rafael Ferreira da Silva">
    </div>

    <div class="site-title-block">
        <h1 class="site-title">Rafael<br /><span style="font-size: 0.8em; font-weight: normal;">Ferreira da Silva</span>
        </h1>
        <h4 style="font-size: 0.8em;">Group Leader <span style="color: #aaa; font-weight: normal;">&</span><br />Senior
            Research Scientist</h4>
    </div>

    <!-- Navigation -->
    <div class="site-nav">
        <!-- Main menu -->
        <ul id="nav" class="site-main-menu">
            <li>
                <a class="pt-trigger" href="#about-me" data-animation="21"><i
                        class="menu-icon pe-7s-icon pe-7s-user"></i>About me</a>
            </li>
            <li>
                <a class="pt-trigger" href="#publications" data-animation="17"><i
                        class="menu-icon pe-7s-icon pe-7s-comment"></i>Publications</a>
            </li>
            <li>
                <a class="pt-trigger" href="#activities" data-animation="18"><i
                        class="menu-icon pe-7s-icon pe-7s-id"></i>Professional Activities</a>
            </li>
            <li>
                <a class="pt-trigger" href="#funding" data-animation="19"><i
                        class="menu-icon pe-7s-icon pe-7s-check"></i>Funding Awards</a>
            </li>
            <li>
                <a class="pt-trigger" href="#media" data-animation="20"><i
                        class="menu-icon pe-7s-icon pe-7s-video"></i>Media</a>
            </li>
        </ul>
    </div>

</header>
  
<!-- <div class="copyrights">&copy;2003-{{ site.time | date: '%Y' }} Rafael Ferreira da Silva, Ph.D.</div> -->