<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/" class="logo"><img src="/assets/images/2019-rafael-ferreira-da-silva-square.jpg" alt=""/></a>
        <header>
            <h2>Rafael Ferreira da Silva, Ph.D.</h2>
            <p>
                <strong>Senior Research Scientist</strong><br/>
                <a href="https://www.ornl.gov/group/dlsw" target="_blank">Data Lifecycle & Scalable Workflows</a><br/>
                <a href="https://www.ornl.gov/division/nccs" target="_blank">National Center for Computational
                    Sciences</a><br/>
                <a href="https://www.ornl.gov" target="_blank">Oak Ridge National Laboratory</a>
            </p>
            <!--            <p style="margin-top: 1em">-->
            <!--                <strong>Research Assistant Professor</strong><br/>-->
            <!--                <a href="https://www.cs.usc.edu/" target="_blank">Department of Computer Science</a><br/>-->
            <!--                <a href="https://usc.edu/" target="_blank">University of Southern California</a>-->
            <!--            </p>-->
        </header>

        <ul class="icons">
            <li>
                <a href="{{site.data.main.social.linkedin.link}}" target="_blank">
                    <i class="fab {{site.data.main.social.linkedin.icon}}"></i>
                </a>
            </li>
            <li>
                <a href="{{site.data.main.social.googlescholar.link}}" target="_blank">
                    <i class="ai {{site.data.main.social.googlescholar.icon}}"></i>
                </a>
            </li>
            <li>
                <a href="{{site.data.main.social.researchgate.link}}" target="_blank">
                    <i class="ai {{site.data.main.social.researchgate.icon}}"></i>
                </a>
            </li>
            <li>
                <a href="{{site.data.main.social.dblp.link}}" target="_blank">
                    <i class="ai {{site.data.main.social.dblp.icon}}"></i>
                </a>
            </li>
            <li>
                <a href="{{site.data.main.social.orcid.link}}" target="_blank">
                    <i class="ai {{site.data.main.social.orcid.icon}}"></i>
                </a>
            </li>
            <li>
                <a href="{{site.data.main.social.github.link}}" target="_blank">
                    <i class="fab {{site.data.main.social.github.icon}}"></i>
                </a>
            </li>
            <li>
                <a href="{{site.data.main.social.twitter.link}}" target="_blank">
                    <i class="fab {{site.data.main.social.twitter.icon}}"></i>
                </a>
            </li>
        </ul>

    </section>

    <section>
        <div>
            <a class="twitter-timeline" href="https://twitter.com/RafaelSilvaORNL?ref_src=twsrc%5Etfw"
               data-height="60em" style="border: 1px solid #ccc"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </section>

    {% include footer.html %}

</section>


<!--<div class="sidebar">-->
<!--    <div class="author-container shadow">-->
<!--        <hr class="dashed">-->
<!--        <div>-->
<!--            <ul class="menu">-->
<!--                {% for item in site.data.main.menu %}-->
<!--                <li>-->
<!--                    <a {% if page.url== item.link %}class="active" {% endif %} href="{{item.link}}">{{item.title}}</a>-->
<!--                </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
