<section class="page-section" data-id="talks">

    <div class="section-inner">

        <div class="section-title-block">
            <div class="section-title-wrapper">
                <h2 class="section-title">Invited Talks</h2>
                <h5 class="section-description">Advancing Computational Science Through Knowledge Exchange</h5>
            </div>
        </div>

        <div class="talks-grid">
            {% for n in site.data.invited_talks %}
            <div class="talk-year-block">
                <div class="talk-year">{{ n.year }}</div>
                <div class="talk-list">
                    {% for e in n.entries %}
                    <div class="talk-item">
                        <div class="talk-title">
                            {% if e.link and e.link != "" %}
                            <a href="{{ e.link }}" target="_blank">{{ e.title }}</a>
                            {% else %}
                            {{ e.title }}
                            {% endif %}
                            {% if e.video %}
                            <a class="talk-video" href="{{ e.video }}" target="_blank">
                                <i class="pe-7s-icon pe-7s-video"></i>
                            </a>
                            {% endif %}
                        </div>
                        <div class="talk-meta">
                            <span class="talk-event">{{ e.event }}</span>
                            <span class="talk-location">{{ e.location }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <br /><br />

        {% include footer.html %}
    </div>
</section>