<header class="top-nav">
    <div class="top-nav-inner">
        <a class="brand" href="/">
            <span class="brand-avatar" aria-hidden="true">
                <img src="/assets/images/2022-rafael-ferreira-da-silva-high-resolution.jpg"
                    alt="Rafael Ferreira da Silva">
            </span>
            <span class="brand-first">Rafael</span>
            <span class="brand-last">Ferreira da Silva</span>
        </a>
        <nav class="top-menu">
            <a href="/" class="top-link{% if page.url == '/' %} is-active{% endif %}">About</a>
            <a href="/publications/" class="top-link{% if page.url == '/publications/' %} is-active{% endif %}">Publications</a>
            <a href="/invited-talks/" class="top-link{% if page.url == '/invited-talks/' %} is-active{% endif %}">Invited Talks</a>
            <a href="/activities/" class="top-link{% if page.url == '/activities/' %} is-active{% endif %}">Activities</a>
            <a href="/funding/" class="top-link{% if page.url == '/funding/' %} is-active{% endif %}">Funding</a>
            <a href="/media/" class="top-link{% if page.url == '/media/' %} is-active{% endif %}">Media</a>
        </nav>
    </div>
</header>
