---
layout: default
title: News
---

<div class="archives-group">
    <h2 class="archives-date section-title" style="margin-top: 0; margin-bottom: 2rem"><a>{{page.title}}</a></h2>
    <div class="article-list--compact">
        {% for post in paginator.posts %}
        <article>
            <a href="{{site.baseurl}}{{post.url}}" style="text-decoration: none">
                <div class="article-details">
                    <h2 class="article-title">{{post.title}}</h2>
                    <p style="color: #999">{{post.content | strip_html | truncate: 200 }}</p>
                    <footer class="article-time">
                        <time datetime="2019-03-11T00:00:00Z" style="color: #df7988">{{post.date | date: '%B %d, %Y'}}</time>
                    </footer>
                </div>
                <div class="article-image">
                    <img src="{{ post.image }}" width="120" height="120" loading="lazy">
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>

<nav class="pagination">
    {% include pagination.html %}
</nav>