---
---

{% if entry.doi %}
<a href="http://dx.doi.org/{{ entry.doi }}" target="_blank">
    <i class="ai ai-doi"></i>
</a>
{% endif %}
<a href="/files/publications/{{ entry.key }}.pdf" target="_blank">
    <i class="far fa-file-pdf"></i>
</a>&nbsp;&nbsp;
{{ reference }}
<br />
<a data-toggle="collapse" href="#bib-{{ entry.key }}" role="button" aria-expanded="false"
   aria-controls="bib-{{ entry.key }}" style="color: #999">
    [BibTex]
</a>

<div class="collapse" id="bib-{{ entry.key }}">
{% highlight plain %}
{{ entry.bibtex }}
{% endhighlight %}
</div>
