<!DOCTYPE HTML>
<html lang="en" class="no-js">

<head>
    {% include head.html %}
</head>

<body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(assets/images/background-tahiti.jpg);"></div>
    <!-- /Animated Background -->
    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
                </filter>
            </defs>
        </svg>
    </div>
    <!-- /Loading animation -->

    <div class="half-bg"></div>
    <div class="page">
        <div class="page-content">

            <!-- Sidebar -->
            {% include sidebar.html %}

            <!-- Mobile Navigation -->
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- End Mobile Navigation -->

            <!-- Arrows Nav -->
            <div class="lmpixels-arrows-nav">
                <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
                <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
            </div>
            <!-- End Arrows Nav -->

            <div class="content-area">
                <div class="animated-sections">

                    <!-- About Me-->
                    {% include about.html %}

                    <!-- Publications -->
                    {% include publications.html %}

                    <!-- Professional Activities -->
                    {% include activities.html %}

                    <!-- Funding Awards -->
                    {% include funding.html %}

                    <!-- Media -->
                    {% include media.html %}

                </div>
            </div>

        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/animating.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src='https://www.googleg.com/recaptcha/api.js'></script>

    <script src='assets/js/isotope.pkgd.min.js'></script>
    <script src='assets/js/owl.carousel.min.js'></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/validator.js"></script>
    <script src="assets/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SDY4Q5NSK3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SDY4Q5NSK3');
    </script>
    
</body>

</html>