<!DOCTYPE HTML>
<html lang="en" class="no-js">

<head>
    {% include head.html %}
</head>

<body>
    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- /Loading animation -->

    <div id="page" class="page">

        <!-- Sidebar -->
        {% include sidebar.html %}

        <!-- Mobile Header -->
        <div class="mobile-header mobile-visible">
            <div class="mobile-logo-container">
                <div class="mobile-site-title">Rafael Ferreira da Silva</div>
            </div>

            <a class="menu-toggle mobile-visible">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- /Mobile Header -->

        <!-- Arrows Nav -->
        <div class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-left"><i class="pe-7s-icon pe-7s-angle-left"></i></div>
            <div class="lmpixels-arrow-right"><i class="pe-7s-icon pe-7s-angle-right"></i></div>
        </div>
        <!-- /Arrows Nav -->

        <!-- Main Content -->
        <div id="main" class="site-main">

            <!-- Page changer wrapper -->
            <div class="pt-wrapper" style="background-image: url(/assets/images/background.webp);">

                <!-- Subpages -->
                <div class="subpages">
                    <!-- About Me-->
                    {% include about.html %}

                    <!-- Publications -->
                    {% include publications.html %}

                    <!-- Professional Activities -->
                    {% include activities.html %}

                    <!-- Funding Awards -->
                    {% include funding.html %}

                    <!-- Media -->
                    {% include media.html %}
                </div>
                
            </div>
        </div>
    </div>

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/pages-switcher.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/validator.js"></script>
    <script src="/assets/js/jquery.shuffle.min.js"></script>
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/tilt.jquery.min.js"></script>
    <script src="/assets/js/jquery.hoverdir.js"></script>
    <script src="/assets/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SDY4Q5NSK3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SDY4Q5NSK3');
    </script>

</body>

</html>