---
layout: default
---

<section class="article-page">
    <article class="has-image main-article">
        <header class="article-header">
            <div class="article-image">
                <img src="{{site.baseurl}}{{page.image}}"
                    srcset="{{site.baseurl}}{{page.image}} 800w, {{site.baseurl}}{{page.image}} 1600w" width="800"
                    height="534" loading="lazy" alt="{{page.title}}" />
            </div>
            <div class="article-details">
                <!-- <header class="article-category">
                    <a href="/categories/themes/">
                        themes
                    </a>
                    <a href="/categories/syntax/">
                        syntax
                    </a>
                </header> -->

                <h2 class="article-title">{{page.title}}</h2>
                <h3 class="article-subtitle">{{page.subtitle}}</h3>

                <footer class="article-time">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"></path>
                            <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                            <circle cx="18" cy="18" r="4"></circle>
                            <path d="M15 3v4"></path>
                            <path d="M7 3v4"></path>
                            <path d="M3 11h16"></path>
                            <path d="M18 16.496v1.504l1 1"></path>
                        </svg>
                        <time class="article-time--published">{{page.date | date_to_string }}</time>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <polyline points="12 7 12 12 15 15"></polyline>
                        </svg>
                        <time class="article-time--reading">{% include reading-time.html %}</time>
                    </div>
                </footer>
            </div>
        </header>

        <section class="article-content">
            {% if site.toc %}{% include toc.html html=content class="toc.rev.clearfix" %}{% endif %} {{content}}
        </section>

        <footer class="article-footer">
            <section class="article-tags">
                {% if page.categories %}
                {% for item in page.categories %}
                <a href="{{site.baseurl}}/categories/#{{item | slugify }}">{{item | capitalize}}</a>
                {% endfor %}
                {% endif %}
            </section>
        </footer>
    </article>
</section>